@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
body {
  margin: 0 auto;
  font: 100% "Source Sans Pro", sans-serif;
  color: #4A148C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; }
  body .container {
    width: 100%; }
    body .container .header {
      z-index: 100;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0.3em 0.5em;
      position: fixed;
      transition: background-color 0.5s ease-in-out;
      /* Add a black background color to the top navigation */ }
      body .container .header .logo {
        float: left;
        width: 10em; }
      body .container .header .nav {
        display: none;
        float: right;
        overflow: hidden;
        border-radius: 2px;
        margin: 0 0.5em;
        transition: background-color 0.5s ease-in-out;
        /* Change the color of links on hover */
        /* Add a color to the active/current link */ }
        body .container .header .nav a {
          float: left;
          display: block;
          color: #fff;
          text-align: center;
          padding: 0.6em 0.8em;
          text-decoration: none;
          font-size: 1em;
          font-weight: bold; }
        body .container .header .nav a:hover {
          color: #FFCC80; }
        body .container .header .nav .nav a.active {
          background-color: #4CAF50;
          color: white; }
      @media (min-width: 38em) {
        body .container .header .nav {
          display: block; } }
    @media (min-width: 56em) {
      body .container .header {
        width: 80%;
        padding: 0.3em 10%; } }
  body .anycolor {
    background-color: #fff; }
    body .anycolor .nav {
      background-color: rgba(0, 0, 0, 0.5); }
  body .section {
    clear: both;
    display: block;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative; }
    body .section .section-container {
      position: absolute;
      width: 100%; }
    body .section .section-content {
      margin: 2em;
      color: #333;
      font-size: 1.4em;
      line-height: 1.6em; }
    @media (min-width: 56em) {
      body .section .section-container {
        width: 80%;
        margin: 0 10%; } }
    body .section .section-item {
      width: 100%;
      float: left;
      font-size: 2em;
      font-weight: bolder;
      color: #fff;
      overflow: hidden; }
      body .section .section-item img {
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
        margin-top: 2em;
        max-height: 10em; }
    body .section .banner {
      padding-top: 10vh;
      margin-top: 10vh; }
      body .section .banner .phrases {
        font-size: 0.5em;
        font-weight: lighter; }
  body .section-title {
    margin-top: 2em;
    font-size: 2em;
    font-weight: bold; }
  body .gradient {
    background: linear-gradient(350deg, #9C27B0 20%, #FFA726 90%);
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0; }
    body .gradient .window {
      width: 65em;
      margin: 0;
      padding: 0;
      transform: rotate(-5deg) translate(-5em, -10em); }
      body .gradient .window span {
        margin: 0;
        padding: 0;
        display: inline-block;
        content: '';
        width: 20em;
        height: 20em;
        background-color: rgba(255, 255, 255, 0.05);
        margin: 0.5em;
        border-radius: 4px; }
    @media (min-width: 56em) {
      body .gradient .window {
        display: block;
        width: 100em; }
        body .gradient .window span {
          width: 30em;
          height: 30em; } }
  body .invert {
    background: linear-gradient(350deg, #FFA726 20%, #9C27B0 90%); }
  body #treatments {
    background-color: #FFB74D; }
    body #treatments .section-content {
      color: white;
      text-align: justify; }
  body #contact {
    background: linear-gradient(350deg, #333 20%, #666 90%); }
    body #contact .section-title {
      color: #fff; }
  body #nav-icon {
    float: right;
    width: 2em;
    height: 1.5em;
    position: relative;
    margin: .7em 1.5em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer; }
  @media (min-width: 38em) {
    body #nav-icon {
      display: none; } }
  body #nav-icon span {
    display: block;
    position: absolute;
    height: .2em;
    width: 100%;
    background: #d3531a;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  body #nav-icon span:nth-child(1) {
    top: 0; }
  body #nav-icon span:nth-child(2) {
    top: .6em; }
  body #nav-icon span:nth-child(3) {
    top: 1.2em; }
  body #nav-icon.open span:nth-child(1) {
    top: .6em;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  body #nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -3em; }
  body #nav-icon.open span:nth-child(3) {
    top: .6em;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.contact-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0; }

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px; }

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999; }

::-webkit-input-placeholder {
  color: #888; }

:-moz-placeholder {
  color: #888; }

::-moz-placeholder {
  color: #888; }

:-ms-input-placeholder {
  color: #888; }

/*# sourceMappingURL=main.css.map */
